.title{
	font-size: 25px;
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 650;
	font-family: DIN, "DIN Bold";
	color: #ffffff;
}

.btnarea{
	padding-top: 20px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

a{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	display: block;

}
.btn{
	cursor: pointer;
	border: none;
	background-color: #F77F00;
	width: 70%;
	padding: 8px;
	font-family: DIN;
	font-size: 20px;
	font-weight: 550;
	color: #FFFFFF;
	position: relative;
	z-index: 2;
}
/*.btn:after{
	position: absolute;
	content: "";
	top: 0; left: 0; width: 0; height: 100%;
	background: #FCBF49;
	transition: all .4s;
}*/
.btn:hover{
	background-color: #FCBF49;
}
/*.btn:hover:after{
	width: 100%;
}*/